<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O mnie</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    {%extends 'PostApp/site_temp.html'%}
</head>
<body>
    {%block content%}
    <div class = 'container-fluid'>
        <div class = 'row'>
            <div class = 'col m-3'>
                <div class = 'border border-outline-dark m-3'>
                    <img class = 'img-thumbnail p-3' style="max-block-size: fit-content;" src="https://www.tapeciarnia.pl/tapety/normalne/132863_szaro_bury_kot.jpg" alt="kot">
                    <a class = 'text-center' href="https://www.linkedin.com/">
                        <h1><i class="bi-github" role="img" aria-label="GitHub"></i></h1>
                    </a>
                </div>
                <div class = 'border border-outline-dark m-3'>
                    <p>faysgiuahfuha</p>
                </div>
            </div>
            <div class = 'col m-3'>
                <div class = 'border p-3 m-3'>
                    <h4>O mnie</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore sed quod deserunt ea 
                        praesentium ex, quaerat sequi? Esse reprehenderit in corporis. 
                        Iure, amet molestiae. Obcaecati, aperiam. Maxime repellendus maiores sapiente!</p>

                </div>
                <div class = 'border m-3 p-3'>
                    <ul>
                        <p>Wykształcenie</p>
                        <li>asd</li>
                        <li>asd</li>
                        <li>asd</li>
                    </ul>
                </div>
                <div class = 'border m-3 p-3'>
                    <ul>
                        <p>Doświadczenie</p>
                        <li>asd</li>
                        <li>asd</li>
                        <li>asd</li>
                    </ul>
                </div>
                <div class = 'border m-3 p-3'>
                    <ul>
                        <p>Umiejętności</p>
                        <li>asd</li>
                        <li>asd</li>
                        <li>asd</li>
                    </ul>
                </div>

                <div class = 'border m-3 p-3'>
                    <ul>
                        <p>Zainteresowania</p>
                        <li>asd</li>
                        <li>asd</li>
                        <li>asd</li>
                    </ul>
                </div>
            </div>
        </div>



    </div>
    {%endblock%}
</body>
</html>