<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; height: 100vh; padding: 0.5%;">
        <div style="padding: 1em; background-color: rgb(10, 10, 92); margin: 0.5%;">
            <div style=" height: 200px; width: 200; background-color: rgb(255, 255, 255);">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis beatae quasi iste dolorem, perferendis excepturi earum exercitationem sequi labore! Doloremque neque voluptatem amet laudantium incidunt explicabo fugit ducimus officiis quod.</p>
            </div>
        </div>
        <div style="padding: 1em; background-color: rgb(88, 88, 179); margin: 0.5%;">
            <div style="background-color: rgb(255, 255, 255); size: 1em;">
                <p>Hello</p>
            </div>
        </div>
    </div>

</body>
</html>