<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {%extends 'PostApp/site_temp.html'%}
</head>
<body>
    {% load static %}

    {%block content%}

        <div class = 'row'>
            <div class= 'col-md-3'>
                <div class = 'card card-body'>
                    <img src="{{request.user.userprofile.profile_image.url}}" alt="zdjecie profilowe">
                </div>
            </div>
            <div class = 'col-md-9'>
                <div class = 'card card-body'>
                    <form action="" method="POST" class="form-floating" enctype="multipart/form-data">
                        {%csrf_token%}
                        {{form.as_p}}
                        <input type="submit" class="btn btn-primary" name = 'update_profile'>
                    </form>
                </div>
            </div>
        </div>

    {%endblock%}
</body>
</html>